{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, Tom (such a popular guy)!</br>...i mean:</br>
  Welcome, {{ username }}!
</h1>
<h2>
  {% if bio is none %}
    <a href="{{ url_for('auth.editbio') }}">create bio</a>
  {% else %}
    {{ bio }}
    <br>
    <a href="{{ url_for('auth.editbio') }}">edit bio</a>
  {% endif %}
</h2>

{% if posts|length < 1 %}
<h4 style="text-align:center;">You have not made any posts yet</h4>

{% else %}
<table>
    <tr>
        <th>header stuff for table</th>
    </tr>
    {% for post in posts %}
      <tr><td style="border: none; text-align: end">{{ post.User.username }}</td></tr>
      <tr><td>{{ post.Posts.post }}</td></tr>
    <tr><td style="border: none;"><br></td></tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
